/*--------------------------------*/
/* Library
/*--------------------------------*/
@import url('./lib/bootstrap.min.css');



/*--------------------------------*/
/* Defaults: 공통 부분
/*--------------------------------*/
.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

li {
    list-style: none
}

a,
.button {
    color: #F0C83C;
    outline: medium none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
a:hover{
    color: #F0C83C;
    text-decoration: none;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

button{
	cursor: pointer;
	transition: .3s;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

div#preloader { 
	position: fixed;
	left: 0; 
	top: 0; 
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #1A1E4A url('./img/logo/preloader.gif') no-repeat center center;
}


/*--------------------------------*/
/* Header 
/*--------------------------------*/

.header-one {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.header-area{
    background:url('./img/background/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.header-logo-container {
    display: table;
}

.header-logo {
    display:table-cell;
    vertical-align: middle;
    z-index: 1;
}

.header-logo a {
    display: flex;
    align-items: center;
    height: 100%;
}

/* .header-logo::after {
    background: url('./img/background/logo-bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    left: -90px;
    top: -25px;
    width: 80%;
    height: 160%;
    position: absolute;
    content: "";
    z-index: -1;
} */

.header_menu ul li {
	display: inline-block;
	margin-left: 30px;
	position: relative;
}

.header_menu ul li a {
    color: #fff;
    padding: 33px 0;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
}

.header_menu ul li a:hover{
    color:#F0C83C !important;
}

.header_menu ul li.menu-item-has-children > a::after {
	content: " +";
}

.header_menu ul li.menu-item-has-children > a::after {
	content: '\e64b';
	font-family:themify;
	font-weight: 700;
	margin-left: 5px;
	font-size: 10px;
}

.header_menu ul li ul.submenu {
	position: absolute;
	background: #1A1E4A;
	width: 210px;
	top: 110%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	z-index: 99;
	text-align: left;
    border-radius: 4px;
}

.header_menu ul li ul.submenu li {
	margin: 0;
	display: block;
}
.header_menu ul li ul.submenu li a {
	padding: 13px 30px;
	font-size: 16px;
    position: relative;
    display: block;
}
.header_menu ul li ul.submenu li a:hover{
    color: #F0C83C;
    background: #1A1E4A;
}
.header_menu ul li ul.submenu li a::after {
    position: absolute;
    content: "\e628";
    left: 12%;
    top: 15px;
    font-family: themify;
    font-size: 12px;
    color: #F0C83C;
    opacity: 0;
    transition: 0.5s;
    font-weight: 700;
}
.header_menu ul li ul.submenu li a:hover::after {
    opacity: 1;
    transition: 0.5s;
}
.header_menu ul li:hover ul.submenu {
	opacity: 1;
	visibility: visible;
	top: 96%;
}
.header_menu ul li ul.submenu li:hover > a {
	color: #fff;
    padding-left:50px;
    transition: 0.5s;
}

.header-social-icons {
    float: right;
}

.main-menu ul li:hover > a {
	color: #223645;
}

.header-right {
    margin-left: 40px;
    float: right;
    padding: 26px 0px;
}

.header-area.stick {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background:url('./img/background/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center; 
}

.header-area.stick .header_menu ul.main-menu >li>a {
    padding: 30px 0px;
}
.header-area.stick .logo a {
    display: inline-block;
    height: auto;
    padding: 15px 0;
}
.header-area.stick .header-logo img {
    position: relative;
    top: 0px;
    width: 30%;
}
.header-area.stick .header-logo {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0px;
}
.header-area.stick .header-logo::after {
    left: -90px;
    top: 0px;
    width: 80%;
    height: 100%;
    position: absolute;
    content: "";
    z-index: -1;
}

.header_menu {
    display: table;
}

.main-menu {
    display:table-cell;
    vertical-align:middle;
}